---
# Only the main Sass file needs front matter ( the dashes are enough)
---
@charset "utf-8";

// 참조 링크: https://github.com/wan2land/d2coding
@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css");
// 참조 링크: https://fonts.google.com/
@import url('https://fonts.googleapis.com/css?family=Sunflower:300&display=swap&subset=korean&effect=shadow-multiple|3d|fire-animation');

// 눈누 링크: https://noonnu.cc/font_page/42 나눔바른펜
@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$base-font-family  : Arial;
$default-font-size : 0.9rem;
$default-font-color : #000;
$second-font-color : #503e2b;
$third-font-color : #9e948a;
$forth-font-color : #808094;
$small-font-size   : $default-font-size * 0.8;
$base-line-height  : 1.5;

$coding-font: 'D2Coding', Consolas, "Courier New", Courier;
$theme-color: #47146C;
$page-content-bgcolor: #FAFAFA;

// Import from 'sass_dir' (default: _sass)
@import
    "skins/{{ site.text_skin | default: site.data.variables.default.text_skin }}",
    "skins/highlight/{{ site.highlight_theme | default: site.data.variables.default.highlight_theme }}",
    "common/variables",
    "common/function",
    "common/classes",
    "base",
    "layout",
    "syntax",
    "index",
    "toc"
;
