---
layout: home
adsense: false
---

<div class="blog-face">
    <div>
<pre>
<code class="language-ascii-art">
 _       __     _ __                   _ __   _                            
| |     / /____(_) /____     _      __(_) /__(_)                           
| | /| / / ___/ / __/ _ \   | | /| / / / //_/ /                            
| |/ |/ / /  / / /_/  __/   | |/ |/ / / , (/ /                             
|__/|__/_/  /_/\__/\___/    |__/|__/_/_/|_/_/                              
                                                                           
    ___   __     __  __                                     __         ____
   /   | / /_   / /_/ /_  ___     _________  ___  ___  ____/ /  ____  / __/
  / /| |/ __/  / __/ __ \/ _ \   / ___/ __ \/ _ \/ _ \/ __  /  / __ \/ /_  
 / ___ / /_   / /_/ / / /  __/  (__  ) /_/ /  __/  __/ /_/ /  / /_/ / __/  
/_/  |_\__/   \__/_/ /_/\___/  /____/ .___/\___/\___/\__,_/   \____/_/     
                                   /_/                                     
  ________                      __    __                                   
 /_  __/ /_  ____  __  ______ _/ /_  / /_                                  
  / / / __ \/ __ \/ / / / __ `/ __ \/ __/                                  
 / / / / / / /_/ / /_/ / /_/ / / / / /_                                    
/_/ /_/ /_/\____/\__,_/\__, /_/ /_/\__/                                    
                      /____/                                               
</code>
</pre>
    </div>
    <p class="powered-by">
      <a href="https://pragprog.com/titles/dnvim2/practical-vim-second-edition">Inspired by Practicval Vim 2nd Ed.</a> for <strong>title</strong>,
      <a href="http://patorjk.com/software/taag/#p=display&v=0&f=Slant&t=Write%20wiki%0AAt%20the%20speed%20of%0AThought">Powered by patorjk.com/software/taag</a> for <strong>ascii-art</strong>
    </p>
        <p>생각 나는대로 기록 하기</p>
    <div>
    </div>
    <div>
        <a href="/blog/">블로그</a>
        /
        <a href="/tag/">태그</a>
    </div>
    <div class="contact">
{% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">GitHub</a>
{% endif %}
{% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
{% endif %}
{% if site.email %}
        <a href="mailto:{{ site.email }}">Email</a>
{% endif %}
<!--  어떻게 확인하는지 확인 못해서 제외  2020.04.11
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
-->
    </div>
</div>
<div>
    <H3 class="indent font-effect-fire-animation">최근 변경된 문서</H3>
    <ul class="post-list">
{% assign documents = site.wiki | sort: 'updated' | reverse %}
{% for doc in documents limit: 30 %}
    {% if doc.public == true and doc.title != 'wiki'%}
        <li>
            <div>
                <a class="post-link" href="{{ doc.url | prepend: site.baseurl }}">
                    <div class="post-meta">
                        {{ doc.updated | date: "%Y.%m.%d" }}
                        -
                        {{ doc.title }}
                    </div>
                    <div class="post-excerpt">{{ doc.summary }}</div>
                    <ul class="tag-list">
                        <li class="post-tag">
                            {{ doc. tag }}
                        </li>
                    </ul>
                </a>
            </div>
        </li>
    {% endif %}
{% endfor %}
    </ul>
    <h4>
        <a href="/recent/">최근 변경된 문서 전체 리스트 보기</a>
    </h4>
</div>
{% include createLink.html %}
