body {
    margin: 0;
    height: 100%;
    background-color: $background-color;
    ::-moz-selection {
        background: $select-color;
    }
    ::-webkit-selection {
        background: $select-color;
    }
    ::selection{
        background: $select-color;
    }
    ::marker{
        color: $text-color;
    }

}

/* 목차에 사용되는 ul 들여쓰기를 폰트 2자 크기로 지정 */
ul {
    padding-inline-start: 2em;
}

body{
    font: map-get($base, font-weight) #{map-get($base, font-size)}/#{map-get($base, line-height)} map-get($base, font-family);
    //font-family: "NanumBarunpen", "sunflower", "Open Sans", arial, "Apple SD Gothic Neo", "Noto Sans CJK KR", 본고딕, "KoPubDotum Medium", 나눔바른고딕, 나눔고딕, NanumGothic, 맑은고딕, "Malgun Gothic", sans-serif;
    //line-height: 1.5;
    word-break: keep-all;
    color: $text-color;
}

.powered-by{
    font-size: 0.7rem 
}

a {
    @include link-colors($main-color-1);
}

/*
a:visited {
    color: #344B83;
}
*/

.blog-only-title {
	text-align: center;
}
.post-content {
    line-height: 2;
}

blockquote {
    background: $text-color-theme-light;
		font-size: 1.15rem;
    padding: 4px 0px 4px 8px;
    border-left: 4px solid #CCCCCC;
		quotes: "\201C""\201D""\2018""\2019";
    p {
        line-height: 1;
        color: $text-color-2;
				margin-top: 1%;
				margin-bottom: 1%;
    }
}

blockquote:before {
		color: #ccc;
		content: open-quote;
		font-size: 3em;
		font-family: Georgia;
		float: left;
		margin: -30px 10px 0px -10px;
}

/* .last_line_author 클래스일 경우  text-align: right 
	 가져온 소스 : https://gist.github.com/jameslairdsmith/e22c6dd89ae80128d671d127d827954e
 */
blockquote.last_line_author > p:last-child {
  font-style: italic;
  text-align: right;
  margin-top: 1rem;
  margin-right: 10%;
}

code,pre {
    font-family:  map-get($base, font-family-code);
    font-size: 0.85rem;
}
code {
    color: $highlight-foreground;
    background-color: $text-background-color;
    padding: map-get($spacers, 1) map-get($spacers, 2); 
    border-radius: 0.4rem;
}
pre {
    overflow-x: auto;
    padding: 10px 10px;
}
/*
pre, pre code {
    color: #fafafa;
    background-color: #223;
    // font-weight: 600;
}
*/
pre code {
    padding: 0;
}
.hide {
    display: none;
}
.center {
    text-align: center;
}
.language-html table {
    background: transparent;
    margin: 0;
}
.language-html td {
    padding: 0;
    border: 0;

}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    color: $text-color-1;
    text-shadow: 4px 4px 4px #aaa;
}
.post-content h1,h2,h3,h4,h5,h6 {
    &:before { color:$main-color-1; }
}

h1 {
    font-size: 2.2rem;
    margin: 0px;
}
.post-content h1 {
    border-bottom: 1px solid $main-color-1;
}
h2 {
    font-size: 1.8em;
    border-bottom: 1px solid #d0d0d0;
}
.post-content h2 {
    &:before { content:"⠁"; }
}
h3 {
    font-size: 1.6em;
    font-style: italic;
}
.post-content h3 {
    &:before { content:"⠃"; }
}
h4 {
    font-size: 1.4em;
    padding-left: 5px;
    font-style: italic;
}
.post-content h4 {
    &:before { content:"⠋"; }
}
h5 {
    font-size: 1.2em;
    padding-left: 10px;
    font-style: italic;
}
.post-content h5 {
    &:before { content:"⠛"; }
}
h6 {
    font-size: 1.0em;
    padding-left: 15px;
    font-weight: bold;
    font-style: italic;
}
.post-content h6 {
    &:before { content:"⠟"; }
}

// 작성에 참조한 링크 : https://developer.mozilla.org/ko/docs/Web/HTML/Element/kbd
kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

// 작성에 참조한 링크: http://david.elbe.me/jekyll/2015/06/20/how-to-link-to-next-and-previous-post-with-jekyll.html
.PageNavigation {
	font-size: 14px;
	display: block;
	width: auto;
	oveflow: hidden;
}

.PageNavigation a {
	display: block;
	float: left;
	margin: 1em 0;
}

.PageNavigation .next {
	float: right;
}

// 작성에 참조한 링크: https://www.w3.org/Style/Examples/007/figures.en.html
figure {
	float: right;
	width: 30%;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
	border: thin silver solid;
	margin: 0.5em;
	padding: 0.5em;
}
