---
layout: default
---
<div class="post">
    <header class="post-header">

        <div class="PageNavigation">
          {% if page.previous %}
            <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
          {% else %}
            <a class="prev">이게 첫번째 포스트입니다 ▶</a>
          {% endif %}
          {% if page.next %}
            <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
          {% else %}
            <a class="next">◀ 이게 마지막 포스트입니다</a>
          {% endif %}
        </div>

        <h1 class="post-title blog-only-title">{{ page.title }}</h1>
        <p class="created-date">
            {{ page.date | date: "%Y.%m.%d" }}
        </p>


        {% include post-tags.html %}
        <h2>{{ page.summary }}</h2>
    </header>

{% if page.toc %}
    <div class="toc">
    </div>
{% endif %}
    <article class="post-content">
        {{ content }}
    </article>
    {% include createLink.html %}
    {% include comment.html %}

</div>
